<% include partials/_header%>
<% include partials/menu%>


<br>


<div class="container">
  <div class="row">
    <div class="col-md-8">
      <img src="static/images/Logo.jpg" width=100% alt="Logo Amariles Consultores corporativos">
    </div>

  </div>
              
<% include partials/_footer%>