<% include partials/_header%>

<div class="container">
   
        <div class="row">
             <!-- Formulario-->
              
             <!--Tabla para listar los datos-->
             <div class="col-md-7">
                 
             </div>


        </div>
        
                </div>

            
        <h1 id="error"><%=error%></h1>
        


        
              
              
<% include partials/_footer%>