<% include partials/_header%>
 <!-- Formulario-->
 <div class="col-md-5">
        <div class="card">
            <div class="card-body">
            <form action="/matematica" method="post">
                <div class="form-group">
                <input type="number" name="saldo" id="saldo" placeholder="Inserte un valor" class="form-control" value="">
                </div>
                <div class="form-group">
                    <input type="number" name="Abono" id="abono" placeholder="Inserte un abono" class="form-control" value="">
                    </div>
                    
                    <div class="form-group">
                        <input type="number" name="resultado" id="" placeholder="Inserte un abono" class="form-control" value="">
                        </div>
                
                      <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
            </form>
       </div> 
    </div>
    </div>

  
    <%include partials/_footer%>