<div class="container-fluid mb-5 mt-4 ">
    
        
    <div class="row">
        <div class="col-10 md-8 " id="barra">
      <a href='/add' class="btn btn-outline-secondary">Ingresar información</a>
      
                   
        
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
            Busqueda
          </button>
          
             
        
       <a href="/activos" class="btn btn-outline-secondary">Procesos Activos</a></button> 
       <a href="/terminados" class="btn btn-outline-secondary">Procesos Terminados</a></button> 
       <a href='/cobro' class="btn btn-outline-secondary">Gestion de cobro</a></button>
       <!--<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal_tarea">
          Tareas
        </button>-->
       
       
       <a href="/listar_tareas" class="btn btn-outline-secondary" id="listar_tareas">Listar Tarea</a>
       <a href="/logout" class="btn btn-outline-danger" id="logout">Cerrar sesion</a>
      <a href="http://localhost:8000" class="btn btn-outline-danger" id="logout">redirigir</a>

        </div>
           </div>         

</div>